@{
    ViewData["Title"] = "School";   //viewbag y viewdata, son 2 vistas de la misma informacion
    Layout = "_Material";   //Layout que usara la vista
}
@model School    //indica que los modelos seran de tipo School para evitar errores en variables

<div>
    <h1 class="center-align">Bienvenidos a la escuela: @Model.Name</h1>

    <br />
    <h5>Ubicacion</h5>
    <address>
        <p>Dirección: @Model.Address</p>
        <p>País: @Model.Country</p>
        <p>Ciudad: @Model.City</p>
    </address><br />
    <h5>Acerca de la escuela</h5>
    <p>Tipo de escuela: @Model.SchoolType</p>
    <p>Año de fundación: @Model.CreationYear</p>
    <!--<p>@ViewBag.DynamicThing</p>-->
</div>
